<div class="container">
    <h1>Organizations</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h2>ProPublica API</h2>
            <form class="form-inline">
                <div class="form-group">
                    <label for="requestEIN">EIN Number: </label>
                    <input type="text" class="form-control" id="requestEIN" name="requestEIN" placeholder="954806856" [(ngModel)]="requestEIN">
                </div>
                <button type="button" class="btn btn-primary" (click)="getProPublicaOrg()">Get Organization</button>
            </form><br>
            <!--<label>EIN Number: </label>
            <input type="text" name="requestEIN" [(ngModel)]="requestEIN"/>
            <button (click)="getProPublicaOrg(requestEIN)">Get Organization</button>-->
            <dl class="dl-horizontal">
                <dt>Name:</dt>
                <dd>{{propublicOrg.name}}</dd>
                <dt>EIN:</dt>
                <dd>{{propublicOrg.ein}}</dd>
                <dt>Address:</dt>
                <dd>{{propublicOrg.address}}</dd>
                <dt>City:</dt>
                <dd>{{propublicOrg.city}}</dd>
                <dt>State:</dt>
                <dd>{{propublicOrg.state}}</dd>
                <dt>Zip:</dt>
                <dd>{{propublicOrg.zipcode}}</dd>   
            </dl>
            <!--<p></p>
            <p>EIN: {{propublicOrg.ein}}</p>
            <p>Address: {{propublicOrg.address}}</p>
            <p>City: {{propublicOrg.city}}</p>
            <p>State: {{propublicOrg.state}}</p>
            <p>Zip: {{propublicOrg.zipcode}}</p>-->
        <!--</div>
        <div class="col-xs-6">-->
            <hr>
            <h2>GuideStar Detail API</h2>
            <form class="form-inline">
                <div class="form-group">
                    <label for="requestID">ID Number: </label>
                    <input type="text" class="form-control" id="requestID" name="requestID" placeholder="7831216" [(ngModel)]="requestID">
                </div>
                <button type="button" class="btn btn-primary" (click)="getGuideStarOrg()">Get Organization</button>
            </form><br>
            <!--<label>ID Number: </label>
            <input type="text" name="requestID" [(ngModel)]="requestID"/>
            <button (click)="getGuideStarOrg(requestID)">Get Organization</button>-->
            <dl class="dl-horizontal">
                <dt>Name:</dt>
                <dd>{{guidestarOrg.organization_name}}</dd>
                <dt>EIN:</dt>
                <dd>{{guidestarOrg.ein}}</dd>
                <dt>Address:</dt>
                <dd>{{guidestarOrg.address_line1}} {{guidestarOrg.address_line2}}</dd>
                <dt>City:</dt>
                <dd>{{guidestarOrg.city}}</dd>
                <dt>State:</dt>
                <dd>{{guidestarOrg.state}}</dd>
                <dt>Zip:</dt>
                <dd>{{guidestarOrg.zip}}</dd>  
                <dt>Mission:</dt>
                <dd>{{guidestarOrg.mission}}</dd> 
            </dl>
            <!--<p>Name: {{guidestarOrg.organization_name}}</p>
            <p>EIN: {{guidestarOrg.ein}}</p>
            <p>Address: {{guidestarOrg.address_line1}} {{guidestarOrg.address_line2}}</p>
            <p>City: {{guidestarOrg.city}}</p>
            <p>State: {{guidestarOrg.state}}</p>
            <p>Zip: {{guidestarOrg.zip}}</p>
            <p>Mission: {{guidestarOrg.mission}}-->
        </div>
        <div class="col-xs-6">
            <h2>GuideStar Search API</h2>
            <form class="form-inline">
                <div class="row">
                    <div class="form-group col-xs-4">
                        <label for="paramName">Organization Name: </label>
                        <input type="text" class="form-control" id="paramName" name="searchParams.organization_name" placeholder="" [(ngModel)]="searchParams.organization_name">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-4">
                        <label for="paramID">Organization ID: </label>
                        <input type="text" class="form-control" id="paramID" name="searchParams.organization_id" placeholder="" [(ngModel)]="searchParams.organization_id">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-4">
                        <label for="paramEIN">EIN Number: </label>
                        <input type="text" class="form-control" id="paramEIN" name="searchParams.ein" placeholder="" [(ngModel)]="searchParams.ein">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-4">
                        <label for="paramCity">City: </label>
                        <input type="text" class="form-control" id="paramCity" name="searchParams.city" placeholder="" [(ngModel)]="searchParams.city">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-4">
                        <label for="paramState">State: </label>
                        <input type="text" class="form-control" id="paramState" name="searchParams.state" placeholder="" [(ngModel)]="searchParams.state">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-4">
                        <label for="paramZip">Zip: </label>
                        <input type="text" class="form-control" id="paramZip" name="searchParams.zip" placeholder="" [(ngModel)]="searchParams.zip">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-4">
                        <label for="paramPartcip">Participation: </label>
                        <input type="text" class="form-control" id="paramPartcip" name="searchParams.participation" placeholder="" [(ngModel)]="searchParams.participation">
                    </div>
                </div><br>
                <button type="button" class="btn btn-primary" (click)="submitParams()">Submit</button>
            </form>
        </div>
    </div>
<hr></div><br>

<div class="container"><h2>GuideStar Search Results</h2></div>
<div class="container" *ngIf="gsSearched">   
    <h5>Showing {{guideStarSearchResults.showing}}</h5>
    <table class="table table-hover">
        <thead>
            <th>Organization Name</th>
            <th>GuideStar ID</th>
            <th>EIN</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
        </thead>
        <tr *ngFor="let result of guideStarSearchResults.hits">
            <td>{{result.organization_name}}</td>
            <td>{{result.organization_id}}</td>
            <td>{{result.ein}}</td>
            <td>{{result.city}}</td>
            <td>{{result.state}}</td>
            <td>{{result.zip}}</td>
        </tr>
    </table>
    <button type="button" class="btn btn-primary" (click)="prevPage()">Prev</button>
    <button type="button" class="btn btn-primary" (click)="nextPage()">Next</button>
    <br>
</div>

<div class="container"><hr>
    <h2>Foundation Center API</h2>
    <div class="row">
        <div class="col-xs-4">
            <label>Choose API List</label><br>
            <md-radio-group class="radio-group" [(ngModel)]="FCQueryList">
                <md-radio-button class="radio-button" *ngFor="let list of foundationCenterAPIs" [value]="list.api">
                    {{list.listName}}
                </md-radio-button>
            </md-radio-group><br><br>
            <!--<p>Your chosen list is: {{FCQueryList}}</p><br>-->
            
            <md-select placeholder="State" [(ngModel)]="selectedState" name="state.abbreviation">
                <md-option *ngFor="let state of states" [value]="state.abbreviation">
                {{state.name}}
                </md-option>
            </md-select><br><br>
            <button type="button" class="btn btn-primary" (click)="getFoundationCenterResults()">Submit</button>
            <!--<p> Selected state: {{selectedState}} </p>-->
        </div>
        <div class="col-xs-4">
            <md-input-container>
                <input mdInput placeholder="Year" [(ngModel)]="selectedYear">
            </md-input-container><br>
            <!--<p> Selected Year: {{selectedYear}} </p>-->
            
            <label>Rank By</label><br>
            <md-radio-group class="radio-group" [(ngModel)]="selectedRankby">
                <md-radio-button class="radio-button" *ngFor="let option of rankOptions" [value]="option">
                    {{option}}
                </md-radio-button>
            </md-radio-group>
            <!--<p>Chosen rank option: {{selectedRankby}} </p>-->
        </div>
        <div class="col-xs-4">
            <label>Organization Type (optional)</label><br>
            <md-radio-group class="radio-group" [(ngModel)]="selectedOrgType">
                <md-radio-button class="radio-button" *ngFor="let type of orgTypes" [value]="type">
                    {{type}}
                </md-radio-button>
            </md-radio-group>
            <!--<p>Chosen rank option: {{selectedOrgType}} </p>-->
            <br>
        </div>
    </div><hr>
</div>

<div class="container"><h2>Foundation Center Search Results</h2><hr></div>
<div class="container" *ngIf="fcSearched">   
    <table class="table table-hover">
        <thead>
            <th>Foundation Name</th>
            <th>Assets</th>
            <th>Gifts Received</th>
            <th>Giving</th>
            <th>State</th>
            <th>Type</th>
        </thead>
        <tr *ngFor="let result of foundationCenterResults">
            <td>{{result.foundation.name}}</td>
            <td>{{result.assets.amount | currency:'USD':true:'1.2-2'}}</td>
            <td>{{result.gifts_received.amount | currency:'USD':true:'1.2-2'}}</td>
            <td>{{result.giving.amount | currency:'USD':true:'1.2-2'}}</td>
            <td>{{result.state.name}}</td>
            <td>{{result.type.name}}</td>
        </tr>
    </table>
    <br>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Copyright @ Sean Li </p>
    </div>
</footer>